.customers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.customer {
    background-color: darkgreen;
   border: 2px dotted blue;
    color: black;
    padding: 0.5rem;
    margin: 0.5rem;
}

.customer__header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}